/* Reset */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


/* Utility */
.mt-10{
    margin-top: 10px;
}

.bt{
    font-weight: 500;
    color: #fff;
    border-radius: 5px;
    border-width: 0px;
}

.border-bottom{
    border-bottom: 3px solid #F7F8F9;
}

.mb-table{
    padding-top: 20px;
    padding-left: 50px;

}

.pad-right{
    padding-right: 5px;
}


/* Header */

#logo{
    height: 50px;
    vertical-align: middle;
    padding-left: 10px;
}

header{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #fff;
    
}

.title-header{
    font-weight: 800;
    font-size: 35px;
    vertical-align: middle;
}

/* Layout */
body{
    background-color: #F7F8F9;
    font-family: "Roboto", sans-serif;
}

.container{
    background-color: #fff;
    width: 80%;
    margin: 0 auto;
    border-radius: 5px;
}

.bt-add-tsk{
    background-color: #48ADF1;
    margin: 20px 10px 15px 30px;
    width: 80px;
    height: 35px;
    
}

.bt-add-sec{
    background: none;
    color: #D4D8DC;
    border: 1px solid #D4D8DC;
    width: 95px;
    height: 35px;
}

/* Table */

li{
    list-style-type: none;
    font-weight: 1000;
    color: #444851;

}

.name-task{
    font-weight: 400;

}