/* Reset */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


/* Utility */
.mt-10 {
    margin-top: 10px;
}

.name-task {
    font-weight: 400;
    font-size: 15px;

}

.mt-30{
    margin-top: 30px;
}

.bt {
    font-weight: 600;
    color: #fff;
    border-radius: 5px;
    border-width: 0px;
}

.border-bottom {
    border-bottom: 3px solid #F7F8F9;
}

.mb-table {
    padding-top: 20px;
    padding-left: 50px;

}

.pad-right {
    padding-right: 5px;
}

.margin-right {
    margin-right: 5px;
}

.lb-blu{
    background-color: #48ADF1;

}

.lb-purple{
    background-color: #9C72E4;
}

.lb-green{
    background-color: #63C0A9;
}

.lb-orange{
    background-color: #F29E33;
}

.lb-pink{
   background-color: #D863A1;
}

.lb-yellow{
    background-color: #B0C927;
}

.crc-green {
    border: 2px solid #72C6B2;
    color: #72C6B2;
}

.crc-red {
    border: 2px solid #EE746D;
    color: #EE746D;
}

/* Header */

#logo {
    height: 50px;
    vertical-align: middle;
    padding-left: 10px;
}

header {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #fff;

}

.title-header {
    font-weight: 800;
    font-size: 35px;
    vertical-align: middle;
}

/* Layout */
body {
    background-color: #F7F8F9;
    font-family: "Roboto", sans-serif;
}

.container {
    background-color: #fff;
    width: 80%;
    margin: 0 auto;
    border-radius: 5px;
}

/* Main */

.bt-add-tsk {
    background-color: #48ADF1;
    margin: 20px 10px 15px 30px;
    width: 80px;
    height: 35px;

}

.bt-add-sec {
    background: none;
    color: #D4D8DC;
    border: 1px solid #D4D8DC;
    width: 95px;
    height: 35px;
}

/* List */

li {
    list-style-type: none;
    font-weight: 1000;
    font-size: 20px;
    color: #444851;

}



.circle {
    display: inline-block;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    text-align: center;
}

.label {
    display: inline-block;
    margin-left: 5px;
    color: #fff;
    font-weight: 600;
    font-size: 10px;
    border-radius: 16px;
    padding: 7px;

}